/* TODO styling */
/* delete buttons spacing seems to be linked to new task, but content window seems to have a minimum size that covers the buttons until new task is pushed low enough. form is the task 'body' */


:root {
    --clr-primary: rgb(211, 149, 240);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(140, 11, 247);
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid:
        'header header header header'auto "...... lists active ......"auto / 1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
    grid-area: header;
    text-align: center;
    font-size: calc(3vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.2);
    margin: -0.1em 0 0.5em
}

.all-lists {
    grid-area: lists;
}

.master-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.list-name {
    cursor: pointer;

}

li {
    list-style: none;
    position: relative;
}

li::before {
    content: '\2022';
    display: inline-block;
}

li:hover::before {
    transform: scale(1.3);
}

.list-name:hover {
    opacity: 0.7;
}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}

#btn-create-task {
    color: var(--clr-primary);
}

.task-btn {
    order: 3;
    margin: .25em .25em .25em .25em;
}

.btn:hover {
    opacity: 0.4;
}

/* .btn.create:hover {
    opacity: 0.4;
} */

.btn.delete {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
}

.btn.delete:hover {
    color: var(--clr-warning);
}

.new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    transition: border-bottom 150ms ease-in;
    outline: none;
    padding: .25em;
    order: 2;
    /* by assigning flex to form and order 2 here button will appear in front but tab function will go input text to button */
}

.new.task::placeholder {
    opacity: 0.5;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.6;
}

.new.task {
    margin-bottom: 0;
}

.active-list {
    font-weight: bold;
    font-size: 1.3rem;

}

.task-list {
    --spacer: 1.5rem;
    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);
}

.task-header {
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-title {
    margin: 0 1em 0;
    /* maintain spacing if long task name */
}

.task-count {
    margin: 0;
    font-size: 1rem;
}

.task-body {
    padding: var(--spacer);
    position: relative;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

/* .task label { */
.task-name-label {
    /* display: inline-flex; */
    /* display: flex; */
    align-items: center;
    /* position: relative;  */
    cursor: pointer;
    margin-bottom: .15em;
    flex:1;  
    /* using flex seems to allow me to control text-note spacing. */
}

.task-note-label {
    /* display: inline-flex; */
    /* centers text top to bottom */
    /* align-items: center; */
    /* justify-content: start; */
    /* position: relative; */
    /* right: 5%; */
    /* flex-grow: 1; */
    /* align-self: center; */
    flex: 1;
    flex-basis: 40%;
    color: purple;
    font-size: .6em;
}

[type='checkbox'] {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

/* .task:hover .custom-checkbox, 
[type="checkbox"]:focus+label .custom-checkbox { */
/* changing from the above prevents note affecting task on hover*/
.task-name-label:hover .custom-checkbox {
    transform: scale(1.2);
    color: var(--clr-primary);
}

/* [type="checkbox"]:checked .custom-checkbox { */
[type="checkbox"]:checked+.task-name-label .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 3px white;
}

[type='checkbox']:checked+.task-name-label {
    /* [type='checkbox']:checked { */
    opacity: 0.5;
}

/* .task label::after { */
.task-name-label::after {
    content: '';
    position: absolute;
    left: 1.5em;
    right: 0;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

/* [type='checkbox']:checked+label::after { */
[type='checkbox']:checked+.task-name-label::after {
    transform: scaleX(1);
    transform-origin: initial;
}

.task::after {
    /* what does this do? */
    content: '';
    position: absolute;
}

.delete-buttons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    color: var(--clr-light);
}